{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'tagsapp/navbar.html' %}
    <main>
        
        <section>
            <h1 class="profile-title">Your Profile</h1>
            <div class="profile-info">
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
            <div class="profile-actions">
                <a href="{% url 'edit-profile' %}" class="btn">Edit Profile</a>
            </div>
        </section>
    </main>
</body>
</html>